.main {
  scroll-snap-type: y mandatory;
  max-height: 100dvh;
  overflow-y: scroll;
  background: transparent;
}

.main > * {
  scroll-snap-align: center;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
